<h1>Editing Journal Doc Analytic</h1>

<%= render 'form', journal_doc_analytic: @journal_doc_analytic %>

<%= link_to 'Show', @journal_doc_analytic %> |
<%= link_to 'Back', journal_doc_analytics_path %>
