<h1>New Journal Doc Analytic</h1>

<%= link_to 'Add Personel', new_personel_path %>
<%= render 'form', journal_doc_analytic: @journal_doc_analytic %>

<%= link_to 'Back', journal_doc_analytics_path %>
