// Place all the styles related to the AcquisitionReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
form {
    background-color: #ececec;
    padding: 5mm;
    border-radius: 1mm;
}